@model IEnumerable<Projects.Models.Article>
@{
    var peopleId = ViewData["PeopleId"];
}
<div class="container p-3">
    @if (Model.Count() > 0)
    {
        <table class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Titles</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in Model)
                {
                    <tr>
                        <td width="75%">@article.Title</td>
                        <td width="25%">
                            <div class="btn-group text-right" role="group" aria-label="Basic example">
                                <a asp-controller="ManageArticle" asp-action="Delete" asp-route-Id="@article.Id" class="btn btn-outline-danger">
                                    <i class="bi bi-trash"></i>
                                    Delete
                                </a>
                                <a asp-controller="ManageArticle" asp-action="Update" asp-route-Id="@article.Id" asp-route-People="@peopleId" class="btn btn-outline-dark">
                                    <i class="bi bi-pencil-square"></i>
                                    Edit
                                </a>
                                <a href="@article.Link" class="btn btn-outline-info">
                                    <i class="bi bi-eye"></i>
                                    View
                                </a>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="col-12 text-right">
            <a asp-controller="ManageArticle" asp-action="Create" asp-route-Id="@peopleId" class="btn btn-info">
                <i class="bi bi-plus-lg"></i>
                Add New Article
            </a>
        </div>
    }
    else
    {
        <div class="text-center">
            <p>No Articles Yet</p>
            <a asp-controller="ManageArticle" asp-action="Create" asp-route-Id="@peopleId" class="btn btn-outline-info">
                <i class="bi bi-plus-lg"></i>
                Add New Article
            </a>
        </div>
    }
</div>